html {
  background-image: url("abstract-wavy-blue-background-free-vector.jpg");
}

#search {
  margin-top: 3in;
  width: 45%;
  height: 35px;
  border-radius: 25px;
  background-color: #151515;
  border-color: #a40000;
  padding: 0.0001px 20px;
  box-sizing: border-box;
  color: #959595;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search:hover {
  border-color: #d90000;
}

#search:focus {
  border-color: #fb0000;
  outline: none;
  color: #959595;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e900;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
}

.topnav a.active {
  background-color: #141414;
  color: #c40000;
  border-radius: 25px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

@keyframes animatebottom {
  0% {
    bottom: -30px
  }

  to {
    bottom: 0
  }
}

@keyframes animatezoom {
  0% {
    transform: scale(.5)
  }

  to {
    transform: scale(1)
  }
}

@font-face {
  font-family: font-sb;
  src: url(https://api.searchbar.org/fonts/sb.eot?39450784);
  src: url(https://api.searchbar.org/fonts/sb.eot?39450784#iefix) format('embedded-opentype'), url(https://api.searchbar.org/fonts/sb.woff?39450784) format('woff'), url(https://api.searchbar.org/fonts/?39450784) format('truetype'), url(https://api.searchbar.org/fonts/sb.svg?39450784#font-sb) format('svg');
  font-weight: 400;
  font-style: normal
}

#sb-search .sb-hiden {
  display: none !important
}

#sb-search {
  --sb-mobile-break-point: 768px;
  --sb-z-index: 9999999;
  --sb-primary-color: #007CFF;
  --sb-dark-primary-color: #5eb2fe;
  --sb-background-color: rgba(28, 238, 238, 0.82);
  --sb-dark-background-color: rgba(20, 20, 20, 0.8);
  --sb-desktop-hero-top: 200px;
  --sb-mobile-hero-top: 200px;
  --sb-wrapper-desktop-left: 20px;
  --sb-wrapper-desktop-right: unset;
  --sb-wrapper-desktop-top: unset;
  --sb-wrapper-desktop-bottom: calc(50% - 20px);
  --sb-wrapper-mobile-left: 16px;
  --sb-wrapper-mobile-right: unset;
  --sb-wrapper-mobile-top: unset;
  --sb-wrapper-mobile-bottom: 16px;
  --sb-call-to-action-left: calc(var(--sb-wrapper-desktop-left) + 70px);
  --sb-call-to-action-right: calc(var(--sb-wrapper-desktop-right) + 70px);
  --sb-call-to-action-top: calc(var(--sb-wrapper-desktop-top) + 6px);
  --sb-call-to-action-bottom: calc(var(--sb-wrapper-desktop-bottom) + 6px);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--sb-z-index)
}

#sb-search a,
#sb-search button,
#sb-search div,
#sb-search em,
#sb-search h1,
#sb-search h2,
#sb-search h3,
#sb-search h4,
#sb-search h5,
#sb-search input,
#sb-search p,
#sb-search span {
  all: initial;
  font-family: Roboto, Helvetica, Arial
}

#sb-search div,
#sb-search h1,
#sb-search h2,
#sb-search h3,
#sb-search h4,
#sb-search h5,
#sb-search p {
  display: block
}

#sb-search div,
#sb-search em,
#sb-search h1,
#sb-search h2,
#sb-search h3,
#sb-search h4,
#sb-search h5,
#sb-search p,
#sb-search span {
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit
}

#sb-search a,
#sb-search a * {
  cursor: pointer;
  user-select: none
}

#sb-search * {
  box-sizing: border-box !important
}

#sb-search a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #585858
}

#sb-search p {
  padding: 6px;
  margin: 0
}

#sb-search iframe {
  width: 100%;
  height: 2000px;
  position: absolute;
  border: 0
}

#sb-search input {
  outline: 0;
  color: var(--sb-primary-color);
  background-color: transparent;
  -webkit-appearance: none
}

#sb-search svg {
  vertical-align: unset
}

#sb-search input[type=search]::-ms-clear,
#sb-search input[type=search]::-ms-reveal,
#sb-search input[type=search]::-webkit-search-cancel-button,
#sb-search input[type=search]::-webkit-search-decoration,
#sb-search input[type=search]::-webkit-search-results-button,
#sb-search input[type=search]::-webkit-search-results-decoration {
  display: none;
  width: 0;
  height: 0;
  -webkit-appearance: none
}

#sb-search ::placeholder {
  color: #8a8a8a;
  opacity: 1
}

#sb-search .sb-animate-bottom {
  animation: animatebottom .4s
}

#sb-search .sb-animate-zoom {
  animation: animatezoom .4s
}

.sb-box-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1)
}

.sb-blur {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px)
}

.sb-darkmode .sb-content {
  background-color: var(--sb-dark-background-color)
}

.sb-darkmode .sb-content .sb-search,
.sb-darkmode .sb-content.sb-hero .sb-search {
  background-color: rgba(0, 0, 0, .7)
}

.sb-darkmode .sb-content .sb-search .sb-input .sb-back-icon:hover {
  background-color: rgba(255, 255, 255, .1)
}

.sb-darkmode .sb-content .sb-results .sb-divider,
.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc p {
  color: #d4d4d4
}

.sb-darkmode .sb-content .sb-results .sb-divider .sb-line {
  background-color: #d4d4d42e
}

.sb-darkmode .sb-content .sb-results .sb-brand a,
.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 {
  color: #e8e8e8
}

.sb-darkmode #sb-call-to-action .sb-action,
.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 em,
.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item .sb-text-container em,
.sb-darkmode input {
  color: var(--sb-dark-primary-color)
}

.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc .sb-pagelink {
  border: solid 1px #5eb2fe24;
  background-color: #5eb2fe38;
  color: var(--sb-dark-primary-color)
}

.sb-darkmode .sb-content .sb-results .sb-results-block .sb-item:hover {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .1)
}

#sb-search .sb-icon svg,
.sb-darkmode .sb-content .sb-results .sb-brand img,
.sb-darkmode .sb-icon.sb-back-icon svg {
  filter: hue-rotate(190deg) invert(1) contrast(3)
}

.sb-darkmode .sb-icon {
  color: #fff;
  line-height: 26px;
  margin: 0
}

.sb-darkmode .sb-search-icon.float {
  border: 6px rgba(0, 0, 0, .25) solid
}

.sb-darkmode input {
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none
}

.sb-darkmode ::placeholder {
  color: #b5b5b5;
  opacity: 1
}

.sb-darkmode #sb-call-to-action {
  background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), rgba(0, 124, 255, .5);
  color: #f1f0f0
}

@-moz-document url-prefix() {

  #sb-search.sb-dark-force .sb-content,
  .sb-darkmode .sb-content {
    background-color: #2f2f2f
  }

  #sb-search.sb-dark-force .sb-content .sb-search,
  #sb-search.sb-dark-force .sb-content.sb-hero .sb-search,
  .sb-darkmode .sb-content .sb-search,
  .sb-darkmode .sb-content.sb-hero .sb-search {
    background-color: #000
  }

  #sb-search .sb-content {
    background-color: #eee
  }

  #sb-search .sb-content .sb-search {
    background-color: #fff
  }

  #sb-search .sb-content.sb-hero {
    background-color: #cacaca
  }
}

@media only screen and (min-width:768px) {
  .sb-darkmode ::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, .8)
  }

  .sb-darkmode ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, .8)
  }
}

.sb-squaremode .sb-content {
  border-radius: 10px
}

.sb-squaremode .sb-content .sb-search,
.sb-squaremode .sb-search-icon.float {
  border-radius: 8px
}

.sb-squaremode #sb-call-to-action,
.sb-squaremode .sb-content .sb-results .sb-results-block.sb-card .sb-item,
.sb-squaremode .sb-content .sb-search .sb-input .sb-back-icon,
.sb-squaremode .sb-content .sb-search .sb-input .sb-search-icon,
.sb-squaremode .sb-search-icon {
  border-radius: 6px
}

.sb-squaremode .sb-content .sb-results .sb-results-block .sb-item,
.sb-squaremode .sb-content .sb-results .sb-results-block.sb-card .sb-item .sb-image-container,
.sb-squaremode .sb-content .sb-results .sb-results-block.sb-list .sb-results-items a .sb-image-container img {
  border-radius: 4px
}

.sb-squaremode ::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-border-radius: 0
}

#sb-search #sb-wrapper {
  left: var(--sb-wrapper-desktop-left);
  right: var(--sb-wrapper-desktop-right);
  top: var(--sb-wrapper-desktop-top);
  bottom: var(--sb-wrapper-desktop-bottom)
}

#sb-search #sb-wrapperHero {
  top: var(--sb-desktop-hero-top)
}

#sb-search #sb-call-to-action {
  left: var(--sb-call-to-action-left);
  right: var(--sb-call-to-action-right);
  top: var(--sb-call-to-action-top);
  bottom: var(--sb-call-to-action-bottom);
  position: fixed;
  display: flex;
  background-color: var(--sb-background-color);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  height: 46px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  align-items: center;
  padding: 0 20px;
  font-size: 10pt
}

@media only screen and (max-width:768px) {
  #sb-search #sb-wrapper {
    left: var(--sb-wrapper-mobile-left);
    right: var(--sb-wrapper-mobile-right);
    top: var(--sb-wrapper-mobile-top);
    bottom: var(--sb-wrapper-mobile-bottom)
  }

  #sb-search #sb-wrapperHero {
    top: var(--sb-mobile-hero-top)
  }
}

#sb-search input.sb-search-field[type=search]::-webkit-search-cancel-button,
#sb-search input.sb-search-field[type=search]::-webkit-search-decoration,
#sb-search input.sb-search-field[type=search]::-webkit-search-results-button,
#sb-search input.sb-search-field[type=search]::-webkit-search-results-decoration {
  display: none
}

#sb-search.sb-open .sb-modal {
  display: flex
}

#sb-search.sb-open #sb-wrapper,
#sb-search.sb-open #sb-wrapperHero {
  display: none
}

#sb-search.sb-open.sb-hero .sb-modal {
  position: absolute
}

#sb-search.sb-open.sb-hero .sb-modal .sb-content {
  position: absolute;
  top: 0
}

#sb-search .sb-modal {
  width: 100%;
  height: 100%;
  display: none;
  place-content: center;
  align-items: center;
  position: fixed
}

#sb-search .sb-content,
#sb-search .sb-content .sb-search,
#sb-search .sb-content.sb-hero {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px)
}

#sb-search .sb-content {
  background-color: var(--sb-background-color);
  display: block;
  text-align: left;
  margin-bottom: 0;
  overflow: hidden;
  max-height: 510px;
  top: 60px;
  border-radius: 48px;
  width: 660px;
  position: absolute
}

#sb-search .sb-content.sb-hero {
  top: 300px;
  max-width: 660px;
  border-radius: 48px;
  height: auto;
  position: absolute;
  left: calc(50% - 330px);
  background-color: rgba(202, 202, 202, .2)
}

#sb-search .sb-content.sb-hero .sb-search {
  padding: 0 0 0 16px;
  background-color: #fff
}

#sb-search .sb-content .sb-search {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 116px;
  width: auto;
  height: 62px;
  margin: 16px;
  display: flex;
  position: relative;
  z-index: 1
}

#sb-search .sb-content .sb-search .sb-input {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  padding: 0 8px
}

#sb-search .sb-content .sb-search .sb-input .sb-back-icon {
  margin-right: 4px;
  border-radius: 100%;
  transition: background-color .2s ease-in;
  line-height: 26px
}

#sb-search .sb-content .sb-search .sb-input .sb-back-icon:hover {
  background-color: rgba(0, 0, 0, .1)
}

#sb-search .sb-content .sb-results {
  display: block;
  max-height: 510px;
  position: relative;
  width: 100%;
  margin: -94px 0 0;
  padding: 92px 18px 0;
  overflow: overlay
}

#sb-search .sb-content .sb-results .sb-results-block .sb-results-items {
  display: flex;
  flex-flow: row wrap
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item {
  border-radius: 8px;
  padding: 4px;
  margin: 6px;
  background-color: transparent;
  border: 1px solid transparent
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item:hover {
  transition: all .4s ease-in-out;
  background-color: rgba(255, 255, 255, .45);
  border: 1px solid rgba(255, 255, 255, .4)
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item:last-child {
  margin-bottom: 24px
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container {
  width: 100%
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 em,
#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container em {
  color: var(--sb-primary-color)
}

#sb-search .sb-content .sb-results .sb-brand a,
#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title {
  display: flex;
  align-items: center
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc p,
#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 {
  color: #585858;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 0 6px;
  text-overflow: ellipsis;
  margin: 2px 0 7px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc p {
  color: #7d7d7d;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  min-height: 26px;
  width: 100%;
  margin: 0;
  -webkit-line-clamp: 4
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc .sb-pagelink {
  display: inline-block;
  color: blue;
  font-size: 12px;
  margin-left: 6px;
  position: relative;
  padding: 2px 4px;
  border: solid 1px rgba(0, 0, 255, .03);
  background-color: rgba(0, 0, 255, .09);
  border-radius: 4px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  max-width: calc(100% - 20px);
  overflow: auto
}

#sb-search .sb-content .sb-results .sb-results-block .sb-item .sb-image-container img {
  margin-bottom: 2px;
  object-fit: cover
}

#sb-search .sb-content .sb-results .sb-results-block.sb-suggestions .sb-results-items {
  flex-direction: column
}

#sb-search .sb-content .sb-results .sb-results-block.sb-suggestions .sb-results-items .sb-item {
  max-width: 100%
}

#sb-search .sb-content .sb-results .sb-results-block.sb-suggestions .sb-results-items .sb-item .sb-text-container .sb-desc {
  margin-top: 4px
}

#sb-search .sb-content .sb-results .sb-results-block.sb-card .sb-item {
  flex-basis: calc(33% - 12px);
  min-width: calc(33% - 10px);
  padding: 4px 4px 8px;
  border-radius: 16px;
  height: max-content;
  cursor: pointer
}

#sb-search .sb-content .sb-results .sb-results-block.sb-card .sb-item .sb-image-container {
  border-radius: 12px;
  width: 100%;
  height: 160px;
  background-color: rgba(181, 172, 177, .23);
  margin-bottom: 8px
}

#sb-search .sb-content .sb-results .sb-results-block.sb-card .sb-item .sb-image-container img {
  width: inherit;
  height: inherit;
  border-radius: inherit
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list {
  border-radius: 8px;
  display: flex;
  background-color: transparent;
  border: 1px solid transparent
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-title h3 {
  -webkit-line-clamp: 1 !important
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-desc p {
  -webkit-line-clamp: 3 !important
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-results-items {
  flex-direction: column;
  width: 100%
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-results-items a {
  display: flex;
  flex-direction: row-reverse
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-results-items a .sb-image-container {
  height: 72px;
  display: contents
}

#sb-search .sb-content .sb-results .sb-results-block.sb-list .sb-results-items a .sb-image-container img {
  width: 72px;
  height: 72px;
  margin-left: 12px;
  margin-bottom: 0;
  border-radius: 6px;
  flex: none
}

#sb-search .sb-content .sb-results .sb-divider {
  color: blue;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 24px;
  margin-left: 10px;
  margin-right: 8px
}

#sb-search .sb-content .sb-results .sb-divider p {
  margin-right: 8px;
  white-space: nowrap
}

#sb-search .sb-content .sb-results .sb-divider .sb-line {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, .15);
  margin-top: 4px;
  margin-right: 10px
}

#sb-search .sb-content .sb-results .sb-brand {
  padding: 16px 0;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center
}

#sb-search .sb-content .sb-results .sb-brand span {
  font-size: 13px;
  white-space: nowrap
}

#sb-search .sb-content .sb-results .sb-brand img {
  width: 160px;
  margin-left: 10px
}

#sb-search .sb-search-field {
  border: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  display: block;
  padding-bottom: 2px
}

#sb-search .sb-icon {
  font-size: 26px;
  padding: 10px;
  cursor: pointer;
  width: 46px;
  height: 46px
}

#sb-search .sb-icon.sb-back-icon svg {
  margin-top: 2px;
  filter: none
}

#sb-search .sb-search-icon {
  border: 0;
  align-items: center;
  border-radius: 50%;
  background-color: dimgray;
  color: #fff;
  cursor: pointer;
  display: flex
}

#sb-search .sb-search-icon.float {
  position: fixed;
  display: flex;
  border: 6px #fff solid;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  margin-right: 0
}

#sb-search #sb-call-to-action .sb-action {
  color: red;
  cursor: pointer;
  margin-left: 4px
}

  #sb-search.sb-dark-auto .sb-content .sb-search,
  #sb-search.sb-dark-auto .sb-content.sb-hero .sb-search {
    background-color: rgba(0, 0, 0, .7)
  }

  #sb-search.sb-dark-auto .sb-content .sb-search .sb-input .sb-back-icon:hover {
    background-color: rgba(255, 255, 255, .1)
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-divider,
  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc p {
    color: #d4d4d4
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-divider .sb-line {
    background-color: #d4d4d42e
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-brand a,
  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 {
    color: #e8e8e8
  }

  #sb-search.sb-dark-auto #sb-call-to-action .sb-action,
  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 em,
  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item .sb-text-container em,
  #sb-search.sb-dark-auto input {
    color: var(--sb-dark-primary-color)
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc .sb-pagelink {
    border: solid 1px #5eb2fe24;
    background-color: #5eb2fe38;
    color: var(--sb-dark-primary-color)
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-results-block .sb-item:hover {
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1)
  }

  #sb-search.sb-dark-auto .sb-content .sb-results .sb-brand img,
  #sb-search.sb-dark-auto .sb-icon.sb-back-icon svg {
    filter: hue-rotate(190deg) invert(1) contrast(3)
  }

  #sb-search.sb-dark-auto .sb-icon {
    color: #fff;
    line-height: 26px;
    margin: 0
  }

  #sb-search.sb-dark-auto .sb-search-icon.float {
    border: 6px rgba(0, 0, 0, .25) solid
  }

  #sb-search.sb-dark-auto input {
    outline: 0;
    background-color: transparent;
    -webkit-appearance: none
  }

  #sb-search.sb-dark-auto ::placeholder {
    color: #b5b5b5;
    opacity: 1
  }

  #sb-search.sb-dark-auto #sb-call-to-action {
    background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), rgba(0, 124, 255, .5);
    color: #f1f0f0
  }

  @-moz-document url-prefix() {
    #sb-search.sb-dark-auto .sb-content {
      background-color: #2f2f2f
    }

    #sb-search.sb-dark-auto .sb-content .sb-search,
    #sb-search.sb-dark-auto .sb-content.sb-hero .sb-search {
      background-color: #000
    }
  }
}

@media (prefers-color-scheme:dark) and only screen and (min-width:768px) {
  #sb-search.sb-dark-auto ::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, .8)
  }

  #sb-search.sb-dark-auto ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, .8)
  }
}

#sb-search.sb-dark-force .sb-content {
  background-color: var(--sb-dark-background-color)
}

#sb-search.sb-dark-force .sb-content .sb-search,
#sb-search.sb-dark-force .sb-content.sb-hero .sb-search {
  background-color: rgba(0, 0, 0, .7)
}

#sb-search.sb-dark-force .sb-content .sb-search .sb-input .sb-back-icon:hover {
  background-color: rgba(255, 255, 255, .1)
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-divider,
#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc p {
  color: #d4d4d4
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-divider .sb-line {
  background-color: #d4d4d42e
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-brand a,
#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 {
  color: #e8e8e8
}

#sb-search.sb-dark-force #sb-call-to-action .sb-action,
#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-title h3 em,
#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item .sb-text-container em,
#sb-search.sb-dark-force input {
  color: var(--sb-dark-primary-color)
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item .sb-text-container .sb-desc .sb-pagelink {
  border: solid 1px #5eb2fe24;
  background-color: #5eb2fe38;
  color: var(--sb-dark-primary-color)
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-results-block .sb-item:hover {
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .1)
}

#sb-search.sb-dark-force .sb-content .sb-results .sb-brand img,
#sb-search.sb-dark-force .sb-icon.sb-back-icon svg {
  filter: hue-rotate(190deg) invert(1) contrast(3)
}

#sb-search.sb-dark-force .sb-icon {
  color: #fff;
  line-height: 26px;
  margin: 0
}

#sb-search.sb-dark-force .sb-search-icon.float {
  border: 6px rgba(0, 0, 0, .25) solid
}

#sb-search.sb-dark-force input {
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none
}

#sb-search.sb-dark-force ::placeholder {
  color: #b5b5b5;
  opacity: 1
}

#sb-search.sb-dark-force #sb-call-to-action {
  background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), rgba(0, 124, 255, .5);
  color: #f1f0f0
}

@media only screen and (min-width:768px) {
  #sb-search.sb-dark-force ::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, .8)
  }

  #sb-search.sb-dark-force ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(150, 150, 150, .8)
  }
}

#sb-search.sb-squaremode .sb-content {
  border-radius: 10px
}

#sb-search.sb-squaremode .sb-content .sb-search,
#sb-search.sb-squaremode .sb-search-icon.float {
  border-radius: 8px
}

#sb-search.sb-squaremode #sb-call-to-action,
#sb-search.sb-squaremode .sb-content .sb-results .sb-results-block.sb-card .sb-item,
#sb-search.sb-squaremode .sb-content .sb-search .sb-input .sb-back-icon,
#sb-search.sb-squaremode .sb-content .sb-search .sb-input .sb-search-icon,
#sb-search.sb-squaremode .sb-search-icon {
  border-radius: 6px
}

#sb-search.sb-squaremode .sb-content .sb-results .sb-results-block .sb-item,
#sb-search.sb-squaremode .sb-content .sb-results .sb-results-block.sb-card .sb-item .sb-image-container,
#sb-search.sb-squaremode .sb-content .sb-results .sb-results-block.sb-list .sb-results-items a .sb-image-container img {
  border-radius: 4px
}

#sb-search.sb-squaremode ::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-border-radius: 0
}

@media only screen and (max-width:768px) {
  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-card .sb-item {
    flex-basis: calc(50% - 16px);
    min-width: calc(50% - 16px)
  }

  #sb-search.sb-hero .sb-modal {
    position: fixed !important;
    top: 0 !important
  }

  #sb-search .sb-modal {
    min-height: 100%;
    align-items: baseline;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0
  }

  #sb-search .sb-modal .sb-content {
    margin-top: 0;
    width: 100%;
    border-radius: 0;
    min-height: 100%;
    height: 100%;
    top: unset;
    max-height: unset
  }

  #sb-search .sb-modal .sb-content .sb-results {
    max-height: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 92px 10px 10px;
    margin: 0
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-card .sb-title h3 {
    -webkit-line-clamp: 2 !important
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-card .sb-desc p {
    -webkit-line-clamp: 4 !important
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-list .sb-title h3 {
    -webkit-line-clamp: 1 !important;
    font-size: 16px;
    line-height: 22px
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-list .sb-desc p {
    -webkit-line-clamp: 3 !important;
    font-size: 14px;
    line-height: 17px
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-results-block .sb-item {
    margin: 8px
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-divider {
    margin-top: 22px
  }

  #sb-search .sb-modal .sb-content .sb-results .sb-divider:first-child {
    padding-top: 78px
  }

  #sb-search .sb-animate-bottom {
    animation: none
  }

  #sb-search .sb-search-icon.float {
    position: fixed;
    bottom: 16px;
    left: 16px
  }

  #sb-search #sb-call-to-action {
    display: none
  }
}

@media only screen and (max-width:620px) {
  #sb-search .sb-content.sb-hero {
    left: 0;
    width: calc(100% - 40px);
    margin: 0 20px
  }
}

@media only screen and (max-width:420px) {
  #sb-search .sb-modal .sb-content .sb-results .sb-results-block.sb-card .sb-item {
    flex-basis: 100%
  }
}

@media only screen and (min-width:768px) {
  #sb-search ::-webkit-scrollbar {
    width: 18px;
    height: 18px
  }

  #sb-search ::-webkit-scrollbar-track {
    margin-top: 90px;
    margin-bottom: 30px
  }

  #sb-search ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: rgba(180, 180, 180, .8);
    -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05);
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 rgba(0, 0, 0, .05)
  }

  #sb-search ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none
  }

  #sb-search ::-webkit-scrollbar-corner {
    background-color: transparent
  }

  #sb-search ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(117, 117, 117, .8)
  }
}
