html {
  background-image: url("black-red-abstract-polygon-3d-4k-45.jpg");
}

#search {
  margin-top: 3in;
  width: 45%;
  height: 28px;
  border-radius: 25px;
  background-color: #202020;
  border-color: #a40000;
  padding: 0.0001px 20px;
  box-sizing: border-box;
}

