html {
  background-image: url("black-red-abstract-polygon-3d-4k-45.jpg");
}

#search {
  margin-top: 3in;
  width: 45%;
  height: 35px;
  border-radius: 25px;
  background-color: #151515;
  border-color: #a40000;
  padding: 0.0001px 20px;
  box-sizing: border-box;
  color: #959595;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search:hover {
  border-color: #d90000;
}

#search:focus {
  border-color: #fb0000;
  outline: none;
  color: #959595;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e900;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
}

.topnav a.active {
  background-color: #141414;
  color: #c40000;
  border-radius: 25px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
